# Demetri Papamichalis
# ANA 500 - Microproject 1 - wk1

# 1. Import Libraries

In [7]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt 
import matplotlib
matplotlib.matplotlib_fname()
import sympy as sp
import sys

# 1.1 Check my directory

In [8]:
# gives current path directory
from pathlib import Path
print(Path.cwd())

C:\Users\dpapa_fxbb8d0\ANA-500---AUG-2022

# 1.2 Import data file set

In [16]:
# read text file into pandas DataFrame
df = pd.read_csv("C:\\Users\dpapa_fxbb8d0\ANA-500---AUG-2022\hessi.solar.flare.2002to2016.csv");
print(df)

           flare  start.date start.time      peak       end  duration.s  \
0        2021213  2002-02-12   21:29:56  21:33:38  21:41:48         712
1        2021228  2002-02-12   21:44:08  21:45:06  21:48:56         288
2        2021332  2002-02-13   00:53:24  00:54:54  00:57:00         216
3        2021308  2002-02-13   04:22:52  04:23:50  04:26:56         244
4        2021310  2002-02-13   07:03:52  07:05:14  07:07:48         236
...          ...         ...        ...       ...       ...         ...
113937  16122603  2016-12-26   22:09:20  22:17:02  22:17:24         484
113938  16122604  2016-12-26   23:25:32  23:28:18  23:43:48        1096
113939  16122701  2016-12-27   08:33:08  08:39:06  08:39:40         392
113940  16122702  2016-12-27   12:21:24  12:21:30  12:30:04         520
113941  16122703  2016-12-27   12:35:40  12:37:14  12:39:00         200

        peak.c/s  total.counts energy.kev  x.pos.asec  y.pos.asec  radial  \
0            136        167304      12-25         592        -358     692
1              7          9504       6-12         604        -341     694
2             15         11448       6-12        -310         375     487
3             20         17400      12-25        -277         378     469
4            336        313392      25-50        -272         390     476
...          ...           ...        ...         ...         ...     ...
113937       152         75328        3-6           0           0       0
113938       304        142048        3-6           0           0       0
113939        80         32344        3-6           0           0       0
113940        24         17336       6-12         326         326     461
113941        48         11056       6-12         765         198     791

        active.region.ar flag.1 flag.2 flag.3 flag.4 flag.5
0                      0     A1     P1    NaN    NaN    NaN
1                   9811     A1     P1     PE     Q1    NaN
2                   9825     A1     P1    NaN    NaN    NaN
3                   9822     A1     P1    NaN    NaN    NaN
4                   9825     A1     GS     P1     PE     Q2
...                  ...    ...    ...    ...    ...    ...
113937                 0     A0     GE     NS     PE     Q2
113938                 0     A0     DR     NS     PE     Q2
113939                 0     A0     DF     NS     PE  Q3 SE
113940                 0     A0     DF     DR     P1  PE Q3
113941              2621     A0     DF     P1     PE     Q2

[113942 rows x 18 columns]

In [22]:
df.shape

(113942, 18)

# 2. Prepare/Clean Data

In [19]:
# sort data:
df_sorted = df.sort_values(by=['duration.s','total.counts'])
print(df_sorted)

           flare  start.date start.time      peak       end  duration.s  \
98092   14102513  2014-10-25   03:30:40  03:30:42  03:30:48           8
26481    4030589  2004-03-05   03:18:12  03:18:14  03:18:20           8
66935   12051031  2012-05-10   07:26:00  07:26:06  07:26:08           8
46492    7012930  2007-01-29   17:54:16  17:54:18  17:54:24           8
101334  14122120  2014-12-21   06:43:04  06:43:10  06:43:12           8
...          ...         ...        ...       ...       ...         ...
35708    5011912  2005-01-19   09:28:56  10:22:34  10:39:36        4240
42397    5120214  2005-12-02   10:33:12  10:34:42  11:45:20        4328
42383    5120243  2005-12-02   02:33:28  02:51:38  03:46:24        4376
45714    6120521  2006-12-05   10:30:32  10:39:38  11:44:24        4432
29879    4071503  2004-07-15   01:12:04  01:40:34  02:26:08        4444

        peak.c/s  total.counts energy.kev  x.pos.asec  y.pos.asec  radial  \
98092          1            21       6-12         292        -364     467
26481          1            37        3-6           0           0       0
66935          1            48        3-6           0           0       0
46492          1            50        3-6           0           0       0
101334         3            76        3-6           0           0       0
...          ...           ...        ...         ...         ...     ...
35708        722       2812992    100-300         686         305     751
42397        352       1205551      12-25        -201         -78     216
42383       9694      36468744      25-50        -291         -82     302
45714      18011      87206176      25-50        -965        -130     973
29879       5928      13425838     50-100        -747        -211     776

        active.region.ar flag.1 flag.2 flag.3 flag.4       flag.5
98092                  0     A0     DF     P1     PE           Q2
26481                  0     A0     PS    NaN    NaN          NaN
66935                  0     A0     PE     PS     Q1          NaN
46492                  0     A0     PS    NaN    NaN          NaN
101334                 0     A0     DF     PE     PS           Q2
...                  ...    ...    ...    ...    ...          ...
35708                720     a0     A1     DF     DR     P1 PE Q3
42397                826     a0     A1     DF     DR     P1 PE Q3
42383                826     a0     a1     A3     DF  EE P1 PE Q3
45714                930     a0     a1     A3     DF  DR ES P1 Q3
29879                649     a0     a1     A3     DF  DR EE P1 Q3

[113942 rows x 18 columns]

In [21]:
# Attributes list:
df_sorted.__dir__()

['T',
 '_AXIS_LEN',
 '_AXIS_ORDERS',
 '_AXIS_REVERSED',
 '_AXIS_TO_AXIS_NUMBER',
 '_HANDLED_TYPES',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_ufunc__',
 '__array_wrap__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_accum_func',
 '_add_numeric_operations',
 '_agg_by_level',
 '_agg_examples_doc',
 '_agg_summary_and_see_also_doc',
 '_align_frame',
 '_align_series',
 '_arith_method',
 '_as_manager',
 '_attrs',
 '_box_col_values',
 '_can_fast_transpose',
 '_check_inplace_and_allows_duplicate_labels',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_cmp_method',
 '_combine_frame',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_from_arguments',
 '_construct_result',
 '_constructor',
 '_constructor_sliced',
 '_convert',
 '_count_level',
 '_data',
 '_dir_additions',
 '_dir_deletions',
 '_dispatch_frame_op',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_ensure_valid_index',
 '_find_valid_index',
 '_flags',
 '_from_arrays',
 '_from_mgr',
 '_get_agg_axis',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cleaned_column_resolvers',
 '_get_column_array',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_value',
 '_getitem_bool_array',
 '_getitem_multilevel',
 '_gotitem',
 '_hidden_attrs',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_info_repr',
 '_init_mgr',
 '_inplace_method',
 '_internal_names',
 '_internal_names_set',
 '_is_copy',
 '_is_homogeneous_type',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_view',
 '_iset_item',
 '_iset_item_mgr',
 '_iset_not_inplace',
 '_item_cache',
 '_iter_column_arrays',
 '_ixs',
 '_join_compat',
 '_logical_func',
 '_logical_method',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_mgr',
 '_min_count_stat_function',
 '_needs_reindex_multi',
 '_protect_consolidate',
 '_reduce',
 '_reindex_axes',
 '_reindex_columns',
 '_reindex_index',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_replace_columnwise',
 '_repr_data_resource_',
 '_repr_fits_horizontal_',
 '_repr_fits_vertical_',
 '_repr_html_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_sanitize_column',
 '_series',
 '_set_axis',
 '_set_axis_name',
 '_set_axis_nocheck',
 '_set_is_copy',
 '_set_item',
 '_set_item_frame_value',
 '_set_item_mgr',
 '_set_value',
 '_setitem_array',
 '_setitem_frame',
 '_setitem_slice',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_stat_function',
 '_stat_function_ddof',
 '_take_with_is_copy',
 '_to_dict_of_blocks',
 '_typ',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'applymap',
 'asfreq',
 'asof',
 'assign',
 'astype',
 'at',
 'at_time',
 'attrs',
 'axes',
 'backfill',
 'between_time',
 'bfill',
 'bool',
 'boxplot',
 'clip',
 'columns',
 'combine',
 'combine_first',
 'compare',
 'convert_dtypes',
 'copy',
 'corr',
 'corrwith',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtypes',
 'duplicated',
 'empty',
 'end',
 'eq',
 'equals',
 'eval',
 'ewm',
 'expanding',
 'explode',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'flags',
 'flare',
 'floordiv',
 'from_dict',
 'from_records',
 'ge',
 'get',
 'groupby',
 'gt',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'insert',
 'interpolate',
 'isin',
 'isna',
 'isnull',
 'items',
 'iteritems',
 'iterrows',
 'itertuples',
 'join',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lookup',
 'lt',
 'mad',
 'mask',
 'max',
 'mean',
 'median',
 'melt',
 'memory_usage',
 'merge',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pad',
 'pct_change',
 'peak',
 'pipe',
 'pivot',
 'pivot_table',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'query',
 'radd',
 'radial',
 'rank',
 'rdiv',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'select_dtypes',
 'sem',
 'set_axis',
 'set_flags',
 'set_index',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'sort_index',
 'sort_values',
 'squeeze',
 'stack',
 'std',
 'style',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_feather',
 'to_gbq',
 'to_hdf',
 'to_html',
 'to_json',
 'to_latex',
 'to_markdown',
 'to_numpy',
 'to_parquet',
 'to_period',
 'to_pickle',
 'to_records',
 'to_sql',
 'to_stata',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'to_xml',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tz_convert',
 'tz_localize',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'where',
 'xs']

In [23]:
df_sorted.head()

,flare,start.date,start.time,peak,end,duration.s,peak.c/s,total.counts,energy.kev,x.pos.asec,y.pos.asec,radial,active.region.ar,flag.1,flag.2,flag.3,flag.4,flag.5
98092,14102513,2014-10-25,03:30:40,03:30:42,03:30:48,8,1,21,6-12,292,-364,467,0,A0,DF,P1,PE,Q2
26481,4030589,2004-03-05,03:18:12,03:18:14,03:18:20,8,1,37,3-6,0,0,0,0,A0,PS,NaN,NaN,NaN
66935,12051031,2012-05-10,07:26:00,07:26:06,07:26:08,8,1,48,3-6,0,0,0,0,A0,PE,PS,Q1,NaN
46492,7012930,2007-01-29,17:54:16,17:54:18,17:54:24,8,1,50,3-6,0,0,0,0,A0,PS,NaN,NaN,NaN
101334,14122120,2014-12-21,06:43:04,06:43:10,06:43:12,8,3,76,3-6,0,0,0,0,A0,DF,PE,PS,Q2

In [46]:
df_sorted.info;

In [32]:
# check tyes of variables:
df_sorted.dtypes

flare                int64
start.date          object
start.time          object
peak                object
end                 object
duration.s           int64
peak.c/s             int64
total.counts         int64
energy.kev          object
x.pos.asec           int64
y.pos.asec           int64
radial               int64
active.region.ar     int64
flag.1              object
flag.2              object
flag.3              object
flag.4              object
flag.5              object
dtype: object

In [35]:
# show variables/columns:
df_sorted.columns

Index(['flare', 'start.date', 'start.time', 'peak', 'end', 'duration.s',
       'peak.c/s', 'total.counts', 'energy.kev', 'x.pos.asec', 'y.pos.asec',
       'radial', 'active.region.ar', 'flag.1', 'flag.2', 'flag.3', 'flag.4',
       'flag.5'],
      dtype='object')

In [37]:
# Search for "Nan" elements in dataset:
df_sorted.isnull().values.any()

True

In [39]:
df_sorted[df_sorted.isnull().any(axis=1)]

,flare,start.date,start.time,peak,end,duration.s,peak.c/s,total.counts,energy.kev,x.pos.asec,y.pos.asec,radial,active.region.ar,flag.1,flag.2,flag.3,flag.4,flag.5
26481,4030589,2004-03-05,03:18:12,03:18:14,03:18:20,8,1,37,3-6,0,0,0,0,A0,PS,NaN,NaN,NaN
66935,12051031,2012-05-10,07:26:00,07:26:06,07:26:08,8,1,48,3-6,0,0,0,0,A0,PE,PS,Q1,NaN
46492,7012930,2007-01-29,17:54:16,17:54:18,17:54:24,8,1,50,3-6,0,0,0,0,A0,PS,NaN,NaN,NaN
4771,20820130,2002-08-20,00:31:36,00:31:38,00:31:44,8,2,84,3-6,0,0,0,0,A0,PE,PS,Q1,NaN
66845,12050987,2012-05-09,09:13:04,09:13:06,09:13:12,8,3,104,3-6,0,0,0,0,A0,PE,PS,Q1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61140,11102244,2011-10-22,13:40:08,13:41:38,14:37:00,3412,464,2600540,6-12,-685,232,724,1325,A0,DR,P1,Q1,NaN
55633,11042704,2011-04-27,02:16:32,02:32:10,03:15:00,3508,720,4353360,12-25,-766,336,837,1201,A0,DR,P1,Q1,NaN
118,2022101,2002-02-21,23:56:36,00:06:42,00:57:16,3640,3568,20495088,12-25,391,-199,439,9830,A1,P1,NaN,NaN,NaN
28709,4052016,2004-05-20,00:46:48,01:09:34,01:50:04,3796,3568,19092168,12-25,-939,-172,954,618,A0,DR,P1,Q1,NaN
27435,4033033,2004-03-30,22:47:08,23:00:18,23:51:00,3832,2288,16192200,12-25,-6,22,23,581,A0,DR,P1,Q1,NaN

In [40]:
# find total number of missing values we have:
df_sorted.isnull().sum()

flare                   0
start.date              0
start.time              0
peak                    0
end                     0
duration.s              0
peak.c/s                0
total.counts            0
energy.kev              0
x.pos.asec              0
y.pos.asec              0
radial                  0
active.region.ar        0
flag.1                  0
flag.2                  0
flag.3              19907
flag.4              20202
flag.5              60951
dtype: int64

In [41]:
# Making a list of other missing value types
missing_values = ["n/a", "na", "--"]
df = pd.read_csv("hessi.solar.flare.2002to2016.csv", na_values = missing_values)

df.isnull().sum()

flare                   0
start.date              0
start.time              0
peak                    0
end                     0
duration.s              0
peak.c/s                0
total.counts            0
energy.kev              0
x.pos.asec              0
y.pos.asec              0
radial                  0
active.region.ar        0
flag.1                  0
flag.2                  0
flag.3              19907
flag.4              20202
flag.5              60951
dtype: int64

In [ ]:
# Drop all rows with 'NaN' entries:
#df.dropna(inplace=True)
#print(df)

In [48]:
# Now, let's check if we have negative values in variables for out time and energy values
#(df_sorted<0).values.any();

In [47]:
# Check for duplicates:
df_sorted.duplicated()

98092     False
26481     False
66935     False
46492     False
101334    False
          ...
35708     False
42397     False
42383     False
45714     False
29879     False
Length: 113942, dtype: bool

In [43]:
# reference by column nane:
df_sorted.loc[:, 'duration.s']
# or by index"
df.iloc[:, 6]

0         136
1           7
2          15
3          20
4         336
         ...
113937    152
113938    304
113939     80
113940     24
113941     48
Name: peak.c/s, Length: 113942, dtype: int64

In [44]:
# Summary statistics:
df_sorted.describe()

,flare,duration.s,peak.c/s,total.counts,x.pos.asec,y.pos.asec,radial,active.region.ar
count,1.139420e+05,113942.000000,113942.000000,1.139420e+05,113942.000000,113942.000000,113942.000000,113942.000000
mean,1.086459e+07,493.051728,212.321532,3.772013e+05,-9.752181,-43.129812,689.528892,979.922926
std,9.832864e+06,433.389295,833.776871,3.071203e+06,757.017401,404.547666,513.203089,1350.484625
min,2.021213e+06,8.000000,0.000000,8.000000e+00,-10012.000000,-10005.000000,0.000000,0.000000
25%,4.110734e+06,212.000000,28.000000,2.292000e+04,-704.000000,-249.000000,469.000000,0.000000
50%,1.112022e+07,364.000000,53.000000,5.857400e+04,0.000000,-75.000000,759.000000,687.000000
75%,1.403013e+07,628.000000,144.000000,1.794420e+05,706.000000,198.000000,946.000000,1543.000000
max,1.412161e+08,4444.000000,113156.000000,4.355501e+08,1002.000000,1012.000000,14154.000000,9999.000000

# ANA 500 - Microproject 1 - wk1